*{
    box-sizing: border-box;
}

.parent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    border: 1px solid black;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.item.red{
    /* position: relative; */
    height: 150px;
    width: 150px;
    background-color: red;
    transform: translateX(-50px);
    transition: background-color 2s, color 2s;
    
}

.item.red:hover{
    background-color: pink;
    color: black;
}

.item.green{
    /* position: absolute; */
    height: 150px;
    width: 150px;
    background-color: green;
    /* transform: rotate(0.25turn); */
    animation-delay: 2s;
    animation-iteration-count: 5;
    animation-timing-function: linear;
   
}

.item.green:hover{
    animation-name: spin;
    animation-duration: 1s;
    
}

@keyframes spin {
    0%{
        transform: rotate(0);
        background-color: green;
    }

    50%{
        transform: rotate(10deg);
        background-color: red;
    }

    100%{
        transform: rotate(360deg);
        background-color: green;
    }
}

.item.blue{
    height: 150px;
    width: 150px;
    background-color: blue;
    transform: scale(0.5);
}

.item.orange{
    height: 150px;
    width: 150px;
    background-color: orange;
    transform: skew(20deg, 20deg);
}
