*{
    box-sizing: border-box;
}
.container{
    padding: 30px;
    border: 1px solid black;

}

.parent{
    padding: 20px;
    border: 1px solid black;
}

.item.red{
    /* position: relative; */
    height: 150px;
    width: 150px;
    background-color: red;

    top: 50px;
    left: 50px;
}

.item.green{
    /* position: absolute; */
    height: 100px;
    width: 100px;
    background-color: green;

}

.item.blue{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 50px;
    background-color: blue;
}

